:root {
  --text: #777;
  --pastel-purple: #e6e6fa;
  --baby-blue: #91c4f2;
  --wild-blue: #8ca0d7;
  --purple: #9d79bc;
  --purpureus: #a14da0;
  --violet: #7e1f86;

  --copy-btn-width: 120px;
  --copy-btn-margin-right: -60px;
}

body {
  max-width: 400px;
  margin: 40px auto;
  color: white;
  background-color: var(--pastel-purple);
}

.card {
  min-height: 400px;
  background-color: var(--wild-blue);
}

.card-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.highlight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0rem;
  margin-right: 0rem;
  background-color: var(--pastel-purple);
  border-radius: 0.25rem;
}

.highlight:focus-within {
  box-shadow: 0 0 0 0.15rem var(--purpureus);
}

.copy-wrapper {
  width: 20%;
}

.copy-btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.65em;
  border: 1px solid;
  border-radius: 0.25rem;
}

.password-result {
  background-color: var(--pastel-purple);
  padding: 1rem;
  width: 80%;
  color: var(--text);
  border: none;
  border-radius: 0.25rem;
  outline: none;
  resize: none;
}

.form-check {
  display: flex;
}

.form-control:focus {
  border-color: var(--purpureus);
  box-shadow: 0 0 0 0.05rem var(--purpureus);
}

.form-check .form-check-input {
  float: right;
}

.form-switch {
  padding: 0 12px;
}

.form-check-input:checked {
  background-color: var(--purpureus);
  border-color: var(--purpureus);
}

.btn {
  background-color: var(--purpureus);
  border-color: var(--purpureus);
}

.generate-btn {
  width: 100%;
}

.generate-btn:focus {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.btn:active,
.btn:hover {
  background-color: var(--violet);
  border-color: var(--violet);
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem var(--purpureus);
  background-color: var(--violet);
  border-color: var(--violet);
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.btn:disabled {
  background-color: var(--purple);
  border-color: var(--purple);
}

.btn:disabled:hover {
  cursor: not-allowed;
}

input[type="number"]:focus,
input[type="number"] {
  color: var(--text);
}

.custom-tooltip {
  position: relative;
  display: inline-block;
}

.custom-tooltip .custom-tooltiptext {
  visibility: hidden;
  width: var(--copy-btn-width);
  background-color: var(--text);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 50%;
  margin-left: var(--copy-btn-margin-right);
}

.custom-tooltip:hover .custom-tooltiptext {
  visibility: visible;
}
